body {
  background-color: #1d1c20;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin: 0 auto;
  padding: 24px 156px;
}

.gallery li {
  flex-basis: calc((100% - 2 * 24px) / 3);
}

.gallery img:hover {
  scale: 1.07;
}
